# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing/coverage
.pytest_cache/
.coverage
htmlcov/


docker-compose.override.yml